pay10-batchProcessor/bin/
pay10-schedular/bin/
pay10-crm/bin/
pay10-commons/bin/
pay10-bindb/bin/
pay10-crypto/bin/
pay10-notification-email/bin/
pay10-notification-sms/bin/
pay10-notification-txnpush/bin/
pay10-pg-core/bin/
pay10-pg-ui/bin/
pay10-pg-ws/bin/
.gradle/
.settings/
pay10-schedular/build/
pay10-webhook/bin/
pay10-webhook/build/
*.class
### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/sonarlint/
*.iws
*.iml
*.ipr



