.modal-dialog .modal-content {
    background: #fff;
}

.modal-dialog .modal-footer {
    margin-top: 0;
}

.modal-header.colored-header {
    background: #2b6dd1;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 15px;
    padding: 10px 15px;
    margin: -1px -1px 0;
}

.checklist {
    margin: 10px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.checklist li {
    padding: 3px;
    float: left;
    width: 25%;
}

.checklist li label {
    position: relative;
    display: block;
    margin: 0;
    cursor: pointer;
}

.checklist li label input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    position: absolute;
}

.checklist li label input[type="checkbox"]+span {
    display: block;
    padding: 5px 10px;
    background: #dddddd;
    font-size: 12px;
    border-radius: 3px;
}

.checklist li label input[type="checkbox"]+span:before {
    position: absolute;
    right: 7px;
    top: 3px;
    content: " ";
    font-family: 'FontAwesome';
    font-size: 15px;
}

.checklist li label input[type="checkbox"]:checked+span {
    background: #dd0000;
    color: #fff;
    text-decoration: line-through;
}

.checklist li label input[type="checkbox"]:checked+span:before {
    content: "\f05e";
}

.checklist-week {
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.checklist-week li {
    padding: 3px;
    float: left;
    width: 13%;
    margin-left: 5px;
}

.checklist-week li label {
    position: relative;
    display: block;
    margin: 0;
    cursor: pointer;
}

.checklist-week li label input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    position: absolute;
}

.checklist-week li label input[type="checkbox"]+span {
    display: block;
    padding: 5px 5px;
    background: #dddddd;
    font-size: 12px;
    border-radius: 3px;
}

.checklist-week li label input[type="checkbox"]+span:before {
    position: absolute;
    right: 7px;
    top: 3px;
    content: " ";
    font-family: 'FontAwesome';
    font-size: 15px;
}

.checklist-week li label input[type="checkbox"]:checked+span {
    background: #202F4B;
    color: #fff;
}

.bootstrap-tagsinput {
    display: block;
}

.bootstrap-tagsinput .tag:after {
    display: none;
}

.bootstrap-tagsinput .tag {
    margin-bottom: 2px;
}

.popup_visible body {
    overflow: hidden;
    height: 100%;
}

.product-spec input[type=text] {
    width: 35px;
}

.ui-dialog-osx {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    border-width: 3px 3px 3px 3px;
}

.ui-widget-header {
    background: #2b6dd1;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    text-align: center;
    float: none !important;
}

.ui-dialog-content {
    display: none;
}

.btn-custom {
    width: 95px;
    background-color: #2b6dd1;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #5d96ec;
    color: #fff;
}

.btn-custom:hover {
    background-color: #2b6dd1;
    border-color: #5d96ec;
    color: #fff;
}

.ui-state-default {
    border: 1px solid #5d96ec;
    background-color: #2b6dd1;
    font-weight: bold;
    color: #fff;
    font-size: 11px;
    height: auto;
}

.week-btn {
    margin-bottom: 4px;
    margin-right: 2px;
    margin-left: 8px;
    padding: 5px 7px;
    font-size: 11px;
}

.twidth {
    margin-left: 0% !important;
    width: 99.9% !important;
}

.modal-dialog_ {
    margin-top: 12px !important;
}

.btn-block {
    margin-left: 40%;
    width: 21% !important;
    height: 100%;
    margin-top: 1%;
    padding: 5px !important;
    font-size: 13px !important;
}

.ip-error {
    margin-left: 10px;
    color: #ff0000;
}

.plusminus {
    float: right;
}

.accordion_head {
    color: #fff;
    background: #496cb6;
    padding: 3px;
    position: absolute;
    margin-top: 36px;
    width: 30%;
}

.accordion_head span {
    cursor: pointer;
    font-size: 20px;
    padding: 0px 4px 0px 114px;
    font-weight: 900;
}

.sample_cn {
    float: left;
    clear: left;
    width: 50% !important;
    margin-left: 0% !important;
}

#cardBinListBody {
    margin-top: -14px;
}

.ListBody {
    padding-top: 2px;
}

.error {
    margin-left: 10px !important;
    color: #ff0000;
}

.success {
    margin-left: 10px !important;
    color: green;
    font-weight: bold;
}

/* #ipAddListBody,#wlIpAddListBody,#emailListBody,#domainListBody,#txnAmountListBody,#cardBinListBody,#cardNoListBody,#perCardTxnsListBody,#noOfTxnsListBody,#issuerCountryListBody,#phoneListBody,#txnAmountVelocityListBody{
    overflow-x: scroll!important;
    max-width: 100%;
    display: block;
    white-space: nowrap;
} */
.input-group-addon {
    width: 0.5px !important;
    padding: 5px 12px !important;
}

select2 select2-container select2-container--default select2-container--above select2-container--focus {
    margin-left: 20px !important;
    width: 250px !important;
}

.btn:focus {
    outline: 0 !important;
}

.bootstrap-tagsinput input {
    width: 100% !important;
}

.changeWeekDay {
    background: #dddddd !important;
    color: #171515 !important;
}

.bootstrap-tagsinput {
    width: 90.5% !important;
}

.cardIniError {
    /* margin-left: 1px!important; */
    color: #ff0000;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    word-wrap: break-word;
    /* width: 27%;
    top: 120px; */
    width: 180px;
    /* top: 130;
    top: 156px;*/
    position: absolute;
    /* margin: 0 auto 15px;
    height: 25px;
	font-size: 10px; */
}

.cardIniError1 {
    /* margin-left: 1px!important; */
    color: #ff0000;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    /* width: 27%;
    top: 120px; */
    width: 60%;
    /*top: 127px;*/
    position: absolute;
    word-wrap: break-word;
    width: 150px;
    /* margin: 0 auto 15px;
    height: 25px;
	font-size: 10px; */
}

.cardIniSuccess {
    /* margin-left: 1px!important; */
    color: green;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 27%;
    /* top: 127px;*/
    position: absolute;
    /* width: 50%;
    margin: 0 auto 15px;
    height: 25px;
	font-size: 10px; */
}

.cardLstError {
    font-size: 10px;
    display: block;
    color: red;
    width: 40%;
    right: 0px;
    margin-left: 2px;

    position: absolute;
    /* float: right;
    margin-top: -9%;
    margin-right: 8%; */
}

.cardLstSuccess {
    font-size: 10px;
    display: block;
    color: green;
    width: 40%;
    position: absolute;
    right: 0px;
    /* float: right;
    margin-top: -9%;
    margin-right: 8%; */
}

.bkn {
    float: left;
    width: 97% !important;
    margin: 0 0 20px 20px !important;
    padding: 10px;
    color: #333;
    border: 1px solid #c0c0c0;
    background: #f2f2f23b;
    border-radius: 5px;
}

.btn-fl {
    float: right;
    clear: right;
    margin-right: -70px;
}

.btn-small {
    padding: 6px !important;
}

.bws-tp {
    margin-bottom: -5px !important;
    margin-top: -10px;
}

/*.inputfieldsmall {height: 28px!important;padding:4px 80px!important;} */
table #BinRange tbody th,
table #BinRange tbody td {
    text-align: center;
}

.inputfieldsmall1 {
    display: inline-block !important;

    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* .form-control{
	margin-left: 0px !important;
} */

table.dataTable thead .sorting {
    background: none !important;
}

.sorting {
    background: none !important;
}

.btn:focus {
    outline: 0 !important;
}

.bkn h4 {

    background: none !important;
    padding: 7px 0;
    text-align: center;

}

/* Start CSS for the Fraud prevention Merchant Panel*/
#bulkdelete {
    background-color: white;
    color: #496cb6;
}


.it .btn-orange {
    background-color: transparent;
    border-color: #777 !important;
    color: #777;
    text-align: left;
    width: 100%;
}

.it input.form-control {
    height: 54px;
    border: none;
    margin-bottom: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
}

.it .form-control:focus {
    border-color: #ff4d0d;
    box-shadow: none;
    outline: none;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    /* top: 0;
    right: 0; */
    top: 15px;
    right: 11px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.it .btn-next {
    background-color: #496cb6;
    color: #fff !important;
}

.it .btn-check {
    cursor: pointer;
    line-height: 54px;
    color: red;
}

.it .uploadDoc {
    margin-bottom: 20px;
}

.it .uploadDoc {
    margin-bottom: 20px;
}

.it .btn-orange img {
    width: 40px;
    height: 40px;
}

.it #uploader .docErr {
    position: absolute;
    right: auto;
    left: 10px;
    top: -56px;
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
    color: red;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.2);
    display: none;
}

.it #uploader .docErr:after {
    content: '\f0d7';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 50px;
    color: #fff;
    position: absolute;
    left: 30px;
    bottom: -40px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

#btnBulkUpload {
    border: none !important;
}

/* End here  CSS for the Fraud prevention Merchant Panel*/
/* Start Code for media query for mobile phone*/
@media only screen and (max-width: 786px) {
    .scrollD {
        margin: 0 auto;
        padding: 30px 0 0 0;
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        width: 210px !important;
        display: block;
    }
}

@media screen and (max-width: 767px) {

    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        display: inline-table !important;
    }
}

@media screen and (max-width:768px) {
    .upl {
        position: absolute;
        right: 0px;
        top: 30px;
    }
}

@media screen and (max-width:768px) {
    #btnBulkUpload {
        margin: 20px 0px 0px -18px;
    }
}

/* End  Code here for media query for mobile phone*/
.dataTables_wrapper {

    margin-top: 15px !important;
}

#tagnegativeBin {}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* .deleteBtnForRule{
    background: #f44336 !important;
    border: #f44336 !important;
    box-shadow: 0 2px 2px 0 #f44336, 0 3px 1px -2px #f44336, 0 1px 5px 0 #f44336 !important;
} */
div.dataTables_wrapper div.dataTables_info {
    padding-top: 1em !important;
    white-space: nowrap;
}

.dataTables_info {
    width: auto !important;
    float: left;
}

.paging_full_numbers {
    /* width: 420px; */
    width: auto;
    height: 60px !important;
    line-height: 22px !important;
}

.modal-body {
    padding-top: 0px !important;
}

.close {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
}