thead th td{
    align-items: start;
}

.scrollmenu{
    overflow: auto;
}

.row.my-3.align-items-center {
    padding: 0px 0px 1px 10px;
}
input{
    padding: 7px 0px 7px 0px;
    color: black;
    font-size: 14px;
    text-align: center;
}
select{
    padding: 7px 0px 7px 0px;
}
.table thead tr td{
    font-size: 14px;
    font-weight: 600;
}
.key{
    font-size: 20px !important;
    font-weight: bold !important;
    
    
}  
.gra{
	background-color: #202F4B;
	color: white!important;
}
.fa-solid, .fas {
    margin-top: 20px;
    font-size: 20px;
    color: #202F4B;
    cursor: grab;
}
h5{
    color: #f34d00;
}
