<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.mongodb" level="ERROR" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				[%d{yyyy-MM-dd HH:mm:ss.sss}][%-5p][%C][%t][%L] [%X{FILE_NAME}] [%X{PG_REF_NUM}] %m%n

			</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/home/logs/recoModule.out</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>/home/logs/%d{yyyy/MM/dd, aux}/recoModule-%d{yyyy-MM-dd}.%i.out
			</fileNamePattern>
			<maxFileSize>400MB</maxFileSize>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.sss}][%-5p][%C][%t][%L] [%X{FILE_NAME}] [%X{PG_REF_NUM}] %m%n
			</pattern>
		</encoder>
	</appender>
	<root level="info">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>