/*
	author: shubhamchauhan
*/

/** Start: to style navigation tab **/
/* .nav {
	margin-bottom: 18px;
	margin-left: 0;
	list-style: none;
}

.nav>li>a {
	display: block;
	pointer-events: all !important;
}

.nav-tabs {
	*zoom: 1;
}



.nav-tabs:after {
	clear: both;
} */

/* .nav-tabs>li {
	float: left;
} */

/* .nav-tabs>li>a {
	padding-right: 12px;
	padding-left: 12px;
	margin-right: 2px;
	line-height: 14px;
} */

/* .nav-tabs {
	border-bottom: 1px solid #ddd;
}

.nav-tabs>li {
	margin-bottom: -1px;
	pointer-events: none;
}

.nav-tabs>li>a {
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 18px;
	border: 1px solid transparent;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.nav-tabs>li>a:hover {
	border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover {
	color: #555555;
	cursor: default;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
} */

/* li {
	line-height: 18px;
} */

.tab-content.active {
	display: block;
}

.tab-content.hide {
	display: none;
}

.nav-tabs>li>a:hover {
	border-top: 0px solid transparent;
}
/** End: to style navigation tab **/

/* Start : Style document uploads */
.uploadDocsDiv {
	width: 100%;
	/* border: 1px solid black; */
	border-radius: 10px;
}

.uploadDocsHeader {
	border-bottom: 1px solid black;
	height: 40px;
	width: 100%;
}

.merchantDocName {
	outline: none;
}

.uploadDocsBody {
	max-height: 300px;
	width: 100%;
	border-bottom: 1px solid black;
}

.uploadDocsTables {
	width: 100%;
	height: inherit;
	display: none;
}
.upload_instructions
{
	width: 100%;
	height: inherit;
	display: none;
	border: 1px solid #212529;
    border-radius: 3px;

}
.uploadDocsTables table tr td:first-child {
/* 	font-weight: bold; */
}

.uploadDocTableTd {
	height: 30px;
	border: 1px solid;
	color: black;
	font-size: 16px;
	padding-left: 10px;
	width: 70%;
}

.udtDiv {
	width: 100%;
	max-height: 300px;
	overflow: auto;
}

.udtTable {
	width: 100%;
	border-collapse: collapse;
}

.responseMsg{
	font-weight: bold;
    font-size: 16px;
    background-color: #496cb6;
    color: white;
    border-radius: 6px;
}

.showTables, .showTablesInstructions{
	display: block !important;
}
.btn.btn-success.size
{
	font-size: 14px !important;
    padding: 6px 12px !important;
}
@media ( max-width : 990px) {
	#welcomeHeading {
		color: white;
	}
}
@media (max-width: 991px){
	.nav-mobile-menu .dropdown .dropdown-menu {
	  
		text-align: center;
	}
	}
	@media (max-width: 991px){
	#logout {
	  
		color:white;
	}
	}

@media ( max-width :990px) {
	.navbar-toggler:not(:disabled):not(.disabled) {
		cursor: pointer;
		position: absolute;
		right: 5px;
	}
}
@media(max-width :768px){
	table.product-specbigstripes {
		
		width: 80%;
		
	}
}
.active_tab{
	background-color:#496cb6;
	color:#fff;
  
  }
  
  .uploadDocTableTd input[readonly] {
    background-color: transparent !important;
    border: none;
    width: 80%;
}

.fileUploadLabel {
	float: right;
    width: 5%;
	margin-right: 20px;
}
#btnBulkLogoUpload{
	margin:10px 10px 10px 10px;
}
#btnBulkLogoDelete{
	margin:10px 10px 10px 10px;
}
#btnBulkTanUpload{
	margin:10px 10px 10px 10px;
}
#btnBulkPanUpload{
	margin:10px 10px 10px 10px;
}
#btnBulkGstUpload{
	margin:10px 10px 10px 10px;
}
#btnBulkAoaUpload{
	margin:10px 10px 10px 10px;
}
#btnBulkTanDelete{
	margin:10px 10px 10px 10px;
}
#btnBulkPanDelete{
	margin:10px 10px 10px 10px;
}
#btnBulkGstDelete{
	margin:10px 10px 10px 10px;
}
#btnBulkAoaDelete{
	margin:10px 10px 10px 10px;
}
#docErr{
	color: #496cb6;
    font-size: 16px;
}
@media(max-width :768px){
	.fileUploadLabel  {
		
	margin-right:20px;
		
	}
}

.textFL_merch {
    border: 1px solid #c0c0c0;
    background: #fff;
    padding: 8px;
    width: 100%;
    color: #000;
    border-radius: 3px;
}

.textFL_merch:hover {
    border: 1px solid #d5d0a3;
    padding: 8px;
    width: 100%;
    border-radius: 3px;
}
	.textFL_merch_invalid {
    border: 1px solid #c0c0c0;
    background: #fff;
    padding: 8px;
    width: 100%;
    border-color: #FF0000;
    border-radius: 1px;
}
	   form{
        margin: 20px 0;
    }
    form input, button{
        padding: 5px;
    }
    table{
        width: 100%;
        margin-bottom: 20px;
		border-collapse: collapse;
    }
    table, th, td{
        border: 1px solid #cdcdcd;
    }
    table th, table td{
        padding: 10px;
        text-align: left;
    }
	.thumbnail{
		height: auto !important;

	}
	#one
{
  margin-top:50px;
 box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}
#one1
{
  margin-top:50px;
 box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}
.it .btn-orange
{
	background-color: transparent;
	border-color: #777!important;
	color: #777;
	text-align: left;
  width:100%;
}
.it input.form-control
{
	height: 54px;
	border:none;
  margin-bottom:0px;
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}
.it .form-control:focus
{
	border-color: #ff4d0d;
	box-shadow: none;
	outline: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fileUpload1 {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload1 input.upload1 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.it .btn-new, .it .btn-next
{
	margin: 30px 0px;
	border-radius: 0px;
	background-color: #333;
	color: #f5f5f5;
	font-size: 16px;
	width: 155px;
}
.it .btn-next
{
	background-color: #ff4d0d;
	color: #fff;
}
.it .btn-check
{
  cursor:pointer;
  line-height:54px;
  color:red;
}
.it .uploadDoc
{
	margin-bottom: 20px;
}
.it .uploadDoc
{
	margin-bottom: 20px;
}
.it .btn-orange img {
    width: 30px;
}
p
{
  font-size:16px;
  text-align:center;
  margin:30px 0px;
}
.it #uploader .docErr
{
	position: absolute;
    right:auto;
    left: 10px;
    top: -56px;
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
    color: red;
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.2);
    display: none;
}
.it #uploader .docErr:after
{
	content: '\f0d7';
	display: inline-block;
	font-family: FontAwesome;
	font-size: 50px;
	color: #fff;
	position: absolute;
	left: 30px;
	bottom: -40px;
	text-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}
.it .uploadDoc1
{
	margin-bottom: 20px;
}
.it .uploadDoc1
{
	margin-bottom: 20px;
}

.it #uploader1 .docErr1
{
	position: absolute;
    right:auto;
    left: 10px;
    top: -56px;
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
    color: red;
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.2);
    display: none;
}
.it #uploader1 .docErr1:after
{
	content: '\f0d7';
	display: inline-block;
	font-family: FontAwesome;
	font-size: 50px;
	color: #fff;
	position: absolute;
	left: 30px;
	bottom: -40px;
	text-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

