
	.textFL_merch {
    border: 1px solid #c0c0c0;
    background: #fff;
    padding: 8px;
    width: 100%;
    color: #000;
    border-radius: 3px;
}

.textFL_merch:hover {
    border: 1px solid #d5d0a3;
    padding: 8px;
    width: 100%;
    border-radius: 3px;
}
	.textFL_merch_invalid {
    border: 1px solid #c0c0c0;
    background: #fff;
    padding: 8px;
    width: 100%;
    border-color: #FF0000;
    border-radius: 1px;
}
.btn-fl{float: right;clear: right;margin-right: 80px;}
.btn-small{padding: 6px!important;}
.bws-tp{margin-bottom: 0px!important; margin-top: 8px;}
.inputfieldsmall {height: 28px!important;padding:4px 15px!important;} 
	
	#message {
    position:relative;
    width:auto;
    height: auto;
   /* overflow:scroll;*/
  
}
.btnPdng {
    padding: 7px 36px !important;
}

.invo6 {
    margin-bottom: 0 !important;
    min-height: 79px;
}
.buttons-csv{
	      background: #496cb6;
    color: #fff;
    padding: 2px 7px;
    border-radius: 3px;
    display: block;
    width: 40px;
    cursor: pointer;
    font-size: 11px;
    margin-top: 30px;
}
.buttons-csv:hover{
	    background: #999;
    color: #000;
    text-decoration: none;
}
.btn:focus{
		outline: 0 !important;
}
#radio{
	margin: 10px 0px;
}
.hide {
  display: none;
}
/* .errorMessage {
    font-size: 11px;
    color: red;
    position: absolute;
    
    bottom: 81px;
    left: 30%;
} */

.actionMessage li {
    color: white !important;
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
    border-radius: 4px;
    text-align: center;
    list-style-type: none;
    font-size: 14px;
    padding: 6px 0;
}
.actionMessage {
    padding: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 40% !important;
    margin: 15px auto 0;
    height: 25px;
}
@media (max-width: 768px) {
.actionMessage {
	margin-bottom: 62px !important;
	width: 100% !important;
}
}



/*********************
TOOLTIP CSS
*********************/

/* Tooltip attribute */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Tooltip content hidden by default */
[data-tooltip]:before,
[data-tooltip]:after {
  transition: all 1.3s ease-in-out;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Tooltip position */
[data-tooltip]:before {
  position: absolute;
  bottom: 130%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: 35px;
  padding: 12px;
  width: 160px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background-color: #FFFFFF;
  background-color: hsl(0,0%,100%, 0.9);
  color: #005f6b;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 15px;
  line-height: 21px;
  
}

/* Triangle hack for Tooltip bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 130%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #FFFFFF;
  border-top: 5px solid hsl(0,0%,100%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Tooltip visible on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  transition: all 1.3s ease-in-out;
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.invoC1{
	width:48% !important;
}

@media (max-width: 768px) {
  .invoC1 {
    
    width: 100% !important;
  }
  }
#wwerr_productDesc{
	position: absolute;
    top: 62px;
}
.modal {
  overflow: hidden;
}

.modal-body {
  height: 400px;
  overflow: auto;
}

.modal-header{
	color:black;
}

